<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Receitas Nordestinas</title>
</head>
<body>

    <header>
        <img src="./image/logo.png" alt="logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/contatos">Contatos</a></li>

        </ul>
    </nav>

    <main>

        <section id="cadastro">

            <h2> Cadastre uma nova receita!</h2>
            
            <form id="form" action="/add" method="POST">
            
                <label for="nome">Nome do prato:</label>
                <input type="text" id="nome" name="nome" required>
    
                <label for="ingredientes">Ingredientes:</label>
                <input type="text" id="ingredientes" name="ingredientes" required>
                
                <label for="preparo">Modo de preparo:</label>
                <input type="text" id="preparo" name="preparo" required>
                                                        
                <label for="imagem">Link da imagem:</label>
                <input type="text" id="imagem" name="imagem" required>
                
                <button id="btnCadastrar" type="submit">Cadastrar</button>
            </form>

            <div>
                
            </div>

        </section>

        

    </main>
      
    <script src="/js/script.js"></script>
    
</body>
</html>