<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Receitas Nordestinas</title>
</head>
<body>

    <header>
        <img src="./image/logo.png" alt="logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/contatos">Contatos</a></li>

        </ul>
    </nav>

    <main>
        <div class="contatos">
            <div class="contato">
                <img class="image" src="https://avatars.githubusercontent.com/u/92491721?v=4" alt="Diego Freitas">
                <h2>Diego Freitas</h2>
                <a target="_blank" href="https://github.com/diegofreitas50">Github</a>
                <a target="_blank" href="https://www.linkedin.com/in/diegofreitas50/">Linkedin</a>
            </div>

            <div class="contato">
                <img class="image" src="" alt="Pedro Henrique">
                <h2>Pedro Henrique</h2>
                <a target="_blank" href="https://github.com/phcPedro">Github</a>
                <a target="_blank" href="https://www.linkedin.com/in/pedro-henrique-c%C3%A2mara-032b3b22b/">Linkedin</a>
            </div>

            <div class="contato">
                <img class="image" src="" alt="Wellington Oliveira">
                <h2>Wellington Oliveira</h2>
                <a target="_blank" href="">Github</a>
                <a target="_blank" href="">Linkedin</a>
            </div>

        </div>
    </main>
    
</body>
</html>
