<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Receitas Nordestinas</title>
</head>
<body>
    <nav>
        <ul>
            <li><img src="./image/logo.png" alt="logo"></li>
            <li><h1><a href="/">Receitas Nordestinas</a></h1></li>
            <li><a href="">Cadastro</a></li>
            <li><a href="">Contatos</a></li>

        </ul>
    </nav>



    <footer>

    </footer>

    <script src="../public/js/script.js"></script>
</body>
</html>