<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Receitas Nordestinas</title>
</head>
<body>

    <header>
        <img src="./image/logo.png" alt="logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Cadastro</a></li>
            <li><a href="">Contatos</a></li>

        </ul>
    </nav>

    <main>
        <div class="cards">
            <div class="card blue">
                <h2>Receita de Cuscuz</h2>
                <p>exemplo</p>
                <img class="image" src="./image/cuscuz-de-milho-1614715966465_v2_450x450.jpg" alt="">
            </div>
        </div>
    </main>



    <footer>

    </footer>

    <script src="../public/js/script.js"></script>
</body>
</html>