*{
    padding: 0;
    margin: 0;

}

nav {
    position: fixed;
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
}

nav img{
    width: 10%;
}